.App {
  text-align: center;
  color: white;
  font-size: calc(10px + 1rem);
}

.box{
  position: relative;
  top: 10rem;
  overflow: clip;
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  padding: 20px 10px;
  max-width: 600px;
  max-height: 400px;
}

.box:hover{
  cursor: pointer;
}
