.App {
  text-align: center;
  color: white;
  font-size: calc(10px + 1rem);
}

.box{
  position: relative;
  top: 10rem;
  overflow: clip;
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  padding: 20px 10px;
  max-width: 600px;
  height: 100%;
  width: 100%;
}

.box:hover{
  cursor: pointer;
}

.openBox::-webkit-scrollbar {
  display: none;
}

.openBox{
  overflow-y: scroll;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 20px 0;
  max-height: 400px;
}

.buttonList{
  position: absolute;
  bottom: 10%;
  margin: auto;
  left: 50%;
  translate: -50%;
}
.buttonList button{
  margin: 0 10px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
}
.buttonList button:hover{
  cursor: pointer;
}
